body {
    font-family: Arial, sans-serif;
    background: #5e968e;
    padding: 20px;
    margin: 0;
}


.title {
    text-align: center;           
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 25px;
    color: white;
}


.dashboard {
    display: flex;
    gap: 15px;
    margin-bottom: 25px;
    flex-wrap: wrap;             
}

.box {
    flex: 1;
    background: #fff;
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 35px 35px 35px rgba(0,0,0,0.75); 
    font-weight: bold;
    transition: transform 0.2s, box-shadow 0.2s;
}

.box:hover {
    transform: translateY(-5px);
    box-shadow: 35px 35px 35px rgba(0,0,0,0.75); 
}


.jobs-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}


.tabs {
    margin: 15px 0;
}

.tabs button {
    padding: 8px 15px;
    margin-right: 8px;
    border: none;
    background: #ddd;
    cursor: pointer;
    border-radius: 8px;
    transition: 0.2s;
}

.tabs button:hover {
    background: #ccc;
}


#jobContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 15px;
}

.card {
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 45px 45px 45px rgba(0,0,0,0.85);
    transition: transform 0.2s, box-shadow 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 45px 45px 45px rgba(0,0,0,0.85);
}

.card button {
    margin-top: 8px;
    margin-right: 5px;
    padding: 5px 10px;
}
.empty {
    grid-column: span 2;         /* span 2 columns */
    text-align: center;
    padding: 40px;
    color: #555;
}

.empty img {
    width: 80px;
    margin-bottom: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 900px) {
    #jobContainer {
        grid-template-columns: 1fr; 
    }
}

@media (max-width: 500px) {
    .dashboard {
        flex-direction: column;    
}